   <style>
        /* GLOBAL */
        body {
            background-image: url('/img/waben512.png');
            background-repeat: repeat;
            background-size: 512px 512px;
            background-color: #000000;
            background-attachment: fixed;
            margin: 0;
            font-family: Arial, sans-serif;
            color: #E5E5E5;
        }

        a {
            color: #D7263D;
            text-decoration: none;
        }

        a:hover {
            color: #FF0033;
        }

        /* HEADER */
        header {
            background: #0A0A0A;
            padding: 50px 20px;
            text-align: center;
            border-radius: 40px;
            margin: 20px;
            border: 1px solid #D7263D;
            box-shadow: 0 0 25px rgba(215,38,61,0.25);
        }

        .logo {
            /*max-width: 350px;*/
            width: 80%;
            height: auto;
            filter: drop-shadow(0 0 10px rgba(215,38,61,0.4));
        }

        header h1 {
            margin: 0;
            font-size: 2.8rem;
            color: #D7263D;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        header p {
            margin-top: 10px;
            font-size: 1.2rem;
            opacity: 0.85;
        }

        /* CONTENT */
        .content {
            max-width: 900px;
            margin: 40px auto;
            padding: 0 20px;
        }

        /* CARDS */
        .card {
            background: #111111;
            color: #E5E5E5;
            padding: 30px;
            border-radius: 20px;
            margin-bottom: 50px;
            border-left: 4px solid #D7263D;
            border-top: 4px solid #D7263D;
            box-shadow: 0 0 25px rgba(215,38,61,0.25);
        }

        h2 {
            margin-top: 0;
            color: #D7263D;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        ul {
            padding-left: 20px;
        }

        /* BUTTON */
        .btn {
            display: inline-block;
            background: #D7263D;
            color: white;
            padding: 12px 24px;
            border-radius: 8px;
            text-decoration: none;
            font-weight: bold;
            margin-top: 15px;
            letter-spacing: 1px;
            text-transform: uppercase;
            box-shadow: 5px 5px 8px rgba(215,38,61,0.45);
            transition: 0.2s;
        }

        .btn:hover {
            background: #FF0033;
            box-shadow: 0 0 25px rgba(255,0,51,0.7);
            transform: translateY(-2px);
        }

        /* FOOTER */
        footer {
            text-align: center;
            padding: 20px;
            margin-top: 40px;
            color: #777;
            font-size: 0.9rem;
        }
    </style>